<h3>Registering Student</h3>
<div class="row">
    <div class="col-md-5">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div id="user-data" ngModelGroup="userData">
                <div id="user-data">
                    <div class="form-group">
                        <label for="fullName">Full Name <span style="color:red;">*</span></label>
                        <input type="text" id="fullName" class="form-control" name="fullName" #fullName="ngModel" ngModel required maxlength="10" minlength="5">
                        <span class="help-block" *ngIf="fullName.invalid && fullName.touched">
                            <div *ngIf="fullName.errors.required">fullName is required</div>
                            <div *ngIf="fullName.errors.minlength">fullName Error minlength</div>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" id="email" class="form-control" name="email" ngModel required email
                            #email="ngModel">
                        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid
                            email!</span>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" id="sexMale" value="Male" name="sex" [ngModel]="defaultSex">
                                ชาย
                            </label>
                            <label>
                                <input type="radio" id="sexFemale" value="Female" name="sex" [ngModel]="defaultSex">
                                หญิง
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" name="username" ngModel>
                    </div>
                    <button class="btn btn-default" type="button">Suggest an Username</button>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <label for="secret">Secret Questions</label>
                <select id="secret" class="form-control" name="secret" [ngModel]="defaultSecret">
                    <option value="pet">สัตว์เลี้ยงตัวแรกของคุณ?</option>
                    <option value="teacher">ครูคนแรกของคุณ?</option>
                    <option value="car">รถคันแรกของคุณ?</option>
                </select>
            </div>
            <app-button class="app-btn-register" type="app-button" (click)="onSubmit()" [disabled]="!f.valid"></app-button>
            <app-button class="app-btn-register" type="app-submit" [disabled]="!f.valid"></app-button>
            <app-button class="app-btn-add" type="app-button" (click)="suggestUserName()">Suggest an Username</app-button>

        </form>
    </div>
    <div class="col-md-7" *ngIf="submitted">
        <h5>Output Data:</h5>
        <hr>
        <p>Full Name: {{ user.userData.fullName }}</p>
        <p>Username: {{ user.userData.username }}</p>
        <p>E-Mail: {{ user.userData.email }}</p>
        <p>Sex: {{ user.userData.sex }}</p>
        <p>Secret: {{ user.secret }}</p>
    </div>
</div>
<hr>