/**************************************************************************************************/
/******************** Input Type File *************************************************************/
.input-group input[type="file"] {
    display: none;
}

.app-invalid{
    color: rgb(238, 0, 0);
}
.app-required-color{
    color: rgb(238, 0, 0);
}

.app-input-invalid{
    border: solid 1px rgb(238, 0, 0) !important;
    background: rgb(253, 220, 220) !important;
}
/******************** Input Type File End *********************************************************/
/**************************************************************************************************/


/**************************************************************************************************/
/******************** Input Type Textarea *********************************************************/
textarea {
    min-height: 40px; 
    max-height: 400px;
}
/******************** Input Type Textarea End *****************************************************/
/**************************************************************************************************/
