<h1>Button</h1>
<app-button class="app-btn-custom" type="app-button" [disabled]="false" textTH="กำหนดเอง" textEN="Custom" icon="fa fa fa-cogs" styleCustom="{'color': '#fff','background-color': '#969696'}"></app-button>
<app-button class="app-btn-search" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-add" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-edit" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-delete" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-back" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-next" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-confirm" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-cancel" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-check" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-clear" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-detail" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-download" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-upload" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-export" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-home" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-seve" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-print" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-register" type="app-button" [disabled]="false"></app-button>
<app-button class="app-btn-setting" type="app-button" [disabled]="false"></app-button>

