<h1>Button</h1>
<app-button class="app-btn-search"></app-button>
<app-button class="app-btn-add"></app-button>
<app-button class="app-btn-edit"></app-button>
<app-button class="app-btn-delete"></app-button>
<app-button class="app-btn-back"></app-button>
<app-button class="app-btn-confirm"></app-button>
<app-button class="app-btn-cancel"></app-button>

<app-button class="app-btn-check"></app-button>
<app-button class="app-btn-clear"></app-button>
<app-button class="app-btn-detail"></app-button>
<app-button class="app-btn-download"></app-button>
<app-button class="app-btn-upload"></app-button>
<app-button class="app-btn-export"></app-button>
<app-button class="app-btn-home"></app-button>
<app-button class="app-btn-seve"></app-button>
<app-button class="app-btn-print"></app-button>

